body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #f7f7f8;
  border-bottom: 1px solid #e6e7eb;
  padding: 16px 24px;
}
.logo-uvm {
  height: 32px;
  width: auto;
}

.header-izquierda {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nombre-uni {
  font-size: 16px;
  font-weight: 500;
}

.menu a { 
	text-decoration: none;
	color: #333;
	font-weight: 500;
}

.header-derecha {
  display: flex;
  align-items: center;
}

.icono-perfil {
	width:32px;
	height:32px;
	border-radius:50%;
}

.contenido {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 24px;
  line-height: 1.6;
}
.contenido figure img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

.video {
  width: 100%;
  max-width: 720px;
  margin: 40px auto;
}

.video iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
  display: block;
}

.footer {
  background-color: #1f2933;
  color: #e5e7eb;
  padding: 48px 24px 24px;
  font-size: 14px;
}

.footer-contenido {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.footer-col h3 {
  margin-bottom: 12px;
  font-size: 16px;
	color: #ffffff;
}

.footer-col p {
  margin-bottom: 8px;
  line-height: 1.5;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 8px;
}

.footer-col ul li a {
  color: #ffffff;
  text-decoration: none;
}

.footer-col ul li a:hover {
  text-decoration: underline;
}

.footer-copy {
  border-top: 1px solid #374151;
  margin-top: 32px;
  padding-top: 16px;
  text-align: center;
  font-size: 13px;
  color: #cbd5e1;
}